@using Deepend.Websites.Mvc.Configuration
@{ ViewBag.Title = "Cheque Listing";}
<script type="text/javascript">
    function ChequeListViewModel() {
        var self = this;
        self.ID = ko.observable("");
        self.Name = ko.observable("");
        self.ChequeDate = ko.observable("");
        self.Currency = ko.observable("");
        self.Amount = ko.observable("");
        self.Cheque = ko.observable();
        self.Cheques = ko.observableArray();

        $.ajax({
            url: '@Settings.ServiceBaseUrl' +'/cheque',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (data) {
                self.Cheques(data);
            }
        });

    }
    // Binding knockout
    $(document).ready(function () {
        var viewModel = new ChequeListViewModel();
        ko.applyBindings(viewModel);
    });
</script>

@{
    ViewBag.Title = "Cheque List";
}
<h3>Cheque Details</h3>
<div class="panel panel-primary">

    <table id="empl" data-bind="visible: true" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Date</th>
                <th>Amount</th>
                <th>View</th>

            </tr>
        </thead>
        <tbody data-bind="foreach: Cheques">
            <tr>
                <td data-bind="text: ID"></td>
                <td data-bind="text: Name"></td>
                <td data-bind="text: ShortChequeDate"></td>
                <td data-bind="text: Currency +Amount"></td>
                <td><a data-bind="attr: { href: '/Cheque/'+ID }">View</a></td>

            </tr>
        </tbody>
    </table>
    <br />
</div>



